<div class="about">
	<header>demo viewer</header>
	<p>
	this is a bare-bones WebGL/DOM application. it uses Promises for animation and takes a novel approach for layering views. <a href="https://github.com/mattdesl/demo-viewer" target="_blank">source code</a>
	</p>
</div>