<div class="info">
	<header>icosphere</header>
	<p>
	two <a target="_blank" href="https://www.npmjs.org/package/icosphere">icospheres</a>. one is a <a target="_blank" href="https://www.npmjs.org/package/gl-wireframe">wireframe</a>, the other a line loop
	</p>
</div>