<div class="info">
	<header>particles</header>
	<p>
	indexed quads batched with a soft circle shader, using <a href="https://www.npmjs.org/package/simplex-noise" target="_blank">simplex noise</a> for motion
	</p>
</div>